@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", "Segoe UI", Verdana, sans-serif !important;
}
.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 3px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.category-btn:hover {
  background-color: white !important;
  color: rgb(1, 119, 145) !important;
}

.category-btn:hover span {
  color: rgb(1, 119, 145) !important;
}
